.box{
    width: 250px;
    height: 250px;
    /*margin: 0 auto;*/
    border-radius: 100%;
    margin-left: 100px;
    background-color: red;
    animation-name: movedown;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
   
    

}
/*  
@keyframes pulse{
    0%,100%{ 
        background-color: aqua;
    }
    50%{
        background-color: cornflowerblue;
    }
}
.element:hover{
    animation: rotate 0.5s infinite; ;
 }

 @keyframes rotate{
    0%, 100%{ 
    
        transform: rotate(0deg); 
    }
    50%{
        transform: rotate(45deg); 
    }   
} */
@keyframes movedown{
    0%{
        transform: translate(0px, 0px);
        
    }
    
    50%{
        transform: translate(300px, 400px);
    }
    100%
    {
        transform:translate(600px, 0px) ;
    }
}
